@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

@layer components {
  .message-input-styles input {
    background-color: #414558;
    border: #4b5563 1px solid;
    color: white;
    font: inherit;
  }

  .message-input-styles input::placeholder {
    color: #c2caf5;
  }
}
